language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

env:
  - SYMFONY_VERSION="2.7.*"

matrix:
  include:
    - php: 5.3
      env: USE_DEPS="lowest" SYMFONY_DEPRECATIONS_HELPER="2"
    - php: 5.6
      env: SYMFONY_VERSION="2.7.*" SYMFONY__DB__DRIVER="pdo_sqlite"
    - php: 5.6
      env: SYMFONY_VERSION="2.8.*"
    - php: 5.6
      env: SYMFONY_VERSION="3.0.*"
    - php: 5.6
      env: SYMFONY_VERSION="3.1.*" MIN_STABILITY="dev"
  allow_failures:
    - env: SYMFONY_VERSION="3.1.*" MIN_STABILITY="dev"
  fast_finish: true

install:
  - if [ "${TRAVIS_PHP_VERSION}" != "hhvm" ]; then phpenv config-add travis.php.ini; fi;
  - bash travis_install_dependencies.sh

before_script:
  - mkdir -p build/logs

script:
  - vendor/bin/phpunit -v --coverage-clover build/logs/clover.xml
  - if [ "${TRAVIS_PHP_VERSION}" != "hhvm" ]; then travis_retry wget -q https://github.com/satooshi/php-coveralls/releases/download/v1.0.0/coveralls.phar && travis_retry php coveralls.phar -v; fi;

notifications:
  email:
    on_success: always
    on_failure: always

# use container-based infrastructure
sudo: false

# cache Composer's package cache
cache:
  directories:
    - $HOME/.composer/cache/files
