parameters:
	level: 5
	paths:
		- .
	autoload_files:
		# TODO remove as soon as Symfony >= 4.2 is required
		- EventListener/FlowExpiredEventListener.php
		- EventListener/PreviousStepInvalidEventListener.php
		# TODO remove as soon as Symfony >= 5.0 is required
		- Form/Extension/FormFlowFormExtension.php
		- Form/Extension/FormFlowHiddenFieldExtension.php
	excludes_analyse:
		- Tests/*
		- vendor/*
	treatPhpDocTypesAsCertain: false
	ignoreErrors:
		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			path: Form/Step.php
		# TODO remove as soon as PHP >= 7.1 is required
		-
			message: '#^Parameter \#1 \$function of function register_shutdown_function expects callable\(\): void, Closure\(\): mixed given\.$#'
			path: CraueFormFlowBundle.php
		# TODO remove as soon as Symfony >= 4.1 is required
		-
			message: '#^Call to function property_exists\(\) with .+ and .size. will always evaluate to false\.$#'
			path: Storage/SerializableFile.php
		# TODO remove as soon as Symfony >= 4.1 is required
		- '#^Parameter \#5 \$test of class Symfony\\Component\\HttpFoundation\\File\\UploadedFile constructor expects bool, null given\.$#'
		# TODO remove as soon as Symfony >= 4.1 is required
		-
			message: '#^Class Symfony\\Component\\HttpFoundation\\File\\UploadedFile constructor invoked with 6 parameters, 2-5 required\.$#'
			path: Storage/SerializableFile.php
		# TODO remove as soon as Symfony >= 4.2 is required
		-
			message: '#^Class Symfony\\Component\\Translation\\TranslatorInterface not found\.$#'
			paths:
				- EventListener/FlowExpiredEventListener.php
				- EventListener/PreviousStepInvalidEventListener.php
		# TODO remove as soon as Symfony >= 4.2 is required
		-
			message: '#^Property Craue\\FormFlowBundle\\EventListener\\Base(FlowExpired|PreviousStepInvalid)EventListener::\$translator has unknown class Symfony\\Component\\Translation\\TranslatorInterface as its type\.$#'
			paths:
				- EventListener/FlowExpiredEventListener.php
				- EventListener/PreviousStepInvalidEventListener.php
		# TODO remove as soon as Symfony >= 4.2 is required
		-
			message: '#^Parameter \$translator of method Craue\\FormFlowBundle\\EventListener\\(FlowExpired|PreviousStepInvalid)EventListener::setTranslator\(\) has invalid typehint type Symfony\\Component\\Translation\\TranslatorInterface\.$#'
			paths:
				- EventListener/FlowExpiredEventListener.php
				- EventListener/PreviousStepInvalidEventListener.php
		# TODO remove as soon as Symfony >= 4.2 is required
		-
			message: '#^Call to method trans\(\) on an unknown class Symfony\\Component\\Translation\\TranslatorInterface\.$#'
			paths:
				- EventListener/FlowExpiredEventListener.php
				- EventListener/PreviousStepInvalidEventListener.php
		# TODO remove as soon as Symfony >= 4.3 is required
		-
			message: '#^Comparison operation "<" between \d{5} and 40300 is always false\.$#'
			paths:
				- Event/FormFlowEvent.php
				- Form/FormFlow.php
		# TODO remove as soon as Symfony >= 4.3 is required
		-
			message: '#^Parameter \#1 \$event of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects object, string given\.$#'
			path: Form/FormFlow.php
		# TODO remove as soon as Symfony >= 4.3 is required
		-
			message: '#^Parameter \#2 \$eventName of method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) expects string\|null, Craue\\FormFlowBundle\\Event\\FormFlowEvent given\.$#'
			path: Form/FormFlow.php
