{% use 'CraueFormFlowBundle:FormFlow:stepList_blocks.html.twig' %}

{%- if flow.getStepLabels() is not empty -%}
	<ol class="craue_formflow_steplist">
		{% for stepLabel in flow.getStepLabels() %}
			<li{{ block('craue_flow_stepList_class') }}>
				{%- if craue_isStepLinkable(flow, loop.index) -%}
					<a href="{{ path(app.request.attributes.get('_route'), app.request.query.all
							| merge(app.request.attributes.get('_route_params'))
							| craue_addDynamicStepNavigationParameter(flow, loop.index)) }}">
						{{- block('craue_flow_stepLabel') -}}
					</a>
				{%- else -%}
					{{- block('craue_flow_stepLabel') -}}
				{%- endif -%}
			</li>
		{% endfor %}
	</ol>
{%- endif -%}
