{% if flow.getStepDescriptions() | length == flow.getMaxSteps() %}
	<ol class="craue_formflow_steplist">
		{% for stepDescription in flow.getStepDescriptions() %}
			<li{% if loop.index == flow.getCurrentStep() %} class="craue_formflow_current_step"{% elseif flow.hasSkipStep(loop.index) %} class="craue_formflow_skipped_step"{% endif %}>
				{%- if flow.isAllowDynamicStepNavigation() and (loop.index != flow.getCurrentStep()) and flow.isStepDone(loop.index) and (not flow.hasSkipStep(loop.index)) -%}
					<a href="{{ path(app.request.attributes.get('_route'),
							app.request.query.all | craue_addDynamicStepNavigationParameter(flow, loop.index)) }}">
						{{- stepDescription | trans -}}
					</a>
				{%- else -%}
					{{- stepDescription | trans -}}
				{%- endif -%}
			</li>
		{% endfor %}
	</ol>
{% endif %}
